<!-- Footer -->
<div id="footer" class="hidden-print">

	<!--  Copyright Line -->
	<div class="copy">&copy; 2012 - 2014 - <a href="#">shahid</a> - All Rights Reserved. / <a href="#">changelog</a></div>
	<!--  End Copyright Line -->

</div>
<!-- // Footer END -->