						<!-- Main Sidebar Menu -->
		<div id="menu" class="hidden-print hidden-xs sidebar-default sidebar-brand-primary">

			<div id="sidebar-social-wrapper">
	<div id="brandWrapper">
		<a href="#"><span class="text"><img src="/assets/logo.png"></span></a>
	</div>
	<ul class="menu list-unstyled" id="navigation_current_page">
		<li class="category">
<img src="/assets/dash_demo/rightpick.jpg" alt="" class="img-post display-block-inline" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
		</li>

<li><span style="font-size: 18px;font-weight: 700;padding-left: 20px;padding-right: 8px;position: relative; top: 10px;"><a><%= current_user.name %></a></span></li>

<li><a href="/users/edit"><i class="fa fa-cog pull-left"></i><span>Edit Account</span></a></li>

<li><a href="messages.html?lang=en&amp;v=v1.0.1-rc4"><i class="icon-comment-typing"></i><span>Messages</span></a></li>

<li class="hasSubmenu">
	<a href="#sidebar-fusion-example" data-toggle="collapse"><span class="badge pull-right badge-primary">4</span><i class="fa fa-stack-exchange"></i><span>Submenus</span></a>
	<ul id="sidebar-fusion-example" class="collapse">
		<li><a href=""><i class="fa fa-flash"></i><span>Active</span></a></li>
		<li><a href=""><i class="fa fa-male"></i><span>Menu item</span></a></li>
		<li><a href=""><i class="fa fa-comments-o"></i><span>Menu item</span></a></li>
		<li class="menu hasSubmenu">
			<a href="#submenu" data-toggle="collapse"><span class="badge pull-right badge-primary">3</span><i class="fa fa-envelope"></i><span>2nd level</span></a>
			<ul class="collapse menu" id="submenu">
				<li><a href=""><i class="fa fa-circle-o"></i><span>Menu item</span></a></li>
				<li><a href=""><i class="fa fa-circle-o"></i><span>Menu item</span></a></li>
				<li><a href=""><i class="fa fa-circle-o"></i><span>Menu item</span></a></li>
			</ul>
		</li>
	</ul>
</li>



	</ul>
</div>




			
		</div>
		<!-- // Main Sidebar Menu END -->