<header class="main-header">
  <!-- master header -->
  <div class="navbar navbar-fixed-top">
    <nav class="container" >
      <!-- site logo -->
      <div class="navbar-header">
        <a href="#hero" class="logo"><img src="/assets/logo.png" alt=""><h1 class="sr-only">CIVI</h1></a>
        <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#main-nav"><i class="fa fa-bars"></i></button>
      </div>
      <!-- main navigation -->
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right nav-style">
          <li class="dummy"><a href="#hero"></a></li><!-- dummy li for scrollspy fix -->
          <li><a href="#profile">Profile</a></li>
          <li><a href="#qualification">Qualification</a></li>
          <li><a href="#skill">Skills</a></li>
          <li><a href="#exp">Work Experience</a></li>
          <li><a href="#extra">Extra</a></li>
          <li><a href="#contact">Contact</a></li>
          <% if user_signed_in? %>
            <li><a href="/profile/home"><%= current_user.name %></a></li>
            <li><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div><!-- .container -->
</header>
<!-- hero section -->
<section id="hero" class="hero">
	<div class="container">
		
		<!-- figure image -->
		<img class="hero-figure" src="/assets/landing_page/hero-figure.png" alt="">
		
		<div class="hero-content-wrap">
			<!-- figure image replacement for responsive screen -->
			<figure class="hero-figure-res"></figure>
		
			<!-- hero content -->
			<div class="hero-content">
				<h2 class="hero-content-title">shahid</h2>
				
				<p class="hero-content-text">Hi, I'm shahid, a web designer and developer based on Delhi. Specialist on web developer and UI concepts.</p>
				
				<div class="text-center"><a class="btn btn-danger btn-lg" href="#profile">FIND OUT MORE <i class="fa fa-angle-double-down"></i></a></div>
			</div>
		</div>
		
	</div><!-- .container -->
</section>
	<!-- hero section end -->