<!-- profile section -->
	<section id="profile" class="profile">
		<div class="container">
			<!-- profile content -->
			<div class="col-md-8 profile-content">		
				<p>I am a hard working, honest individual. I am a good timekeeper, always willing to learn new skills. I am friendly, helpful and polite, have a good sense of humour. I am able to work independently in busy environments and also within a team setting. I am outgoing and tactful, and able to listen effectively when solving problems.</p>
				
				<p>An enthusiastic and professional Web Developer and Designer, who enjoys being part of,as well as leading, a successful and productive team. Quick to grasp new ideas and concepts, and to develop innovative and creative solutions to problems. Able to work well on own initiative and can demonstrate the high levels of motivation required to meet the tightest of deadlines. Even under significant pressure, possesses a strong ability to perform effectively.</p>
				
			</div>
			
			<!-- profile figure image -->
			<img class="profile-figure" src="/assets/landing_page/profile-figure.jpg" alt="">
			
		</div><!-- .container -->
	</section>
	<!-- profile section end -->
	<!-- qualification section -->
	<section id="qualification" class="qualification">
		<div class="container">
		
			<!-- summary of qualification -->
			<div class="qualification-summary">
				<h2 class="heading">Summary</h2>
				
				<p>2 years of experience designing and developing web applications for multiple database platforms.</p>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<!-- education -->
					<div class="qualification-education">
						<h2 class="heading">Education</h2>
					
						<ul class="list-unstyled">
							<li>
								<h3 class="qualification-education-title"> B.Tech/B.E.(Computers)</h3>
								<p>U.N.S.I.E.T.V.B.S.purvanchal university - 2011</p>
							</li>
							<li>
								<h3 class="qualification-education-title">Intermediate/Maths( Science side )</h3>
								<p>U.P Board - 2006</p>
							</li>
							<li>
								<h3 class="qualification-education-title">High School/Maths( Science side )</h3>
								<p>U.P Board - 2004</p>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-6">
					<!-- training -->
					<div class="qualification-training">
						<h2 class="heading">Training & Certificate</h2>
						
						<ul class="fa-ul">
							<li><i class="fa-fw fa-li fa fa-check"></i>Tech India Line</li>
							<li><i class="fa-fw fa-li fa fa-check"></i>KarRox Institute( c/c++ )</li>
						</ul>
					</div>
				</div>
				
			</div><!-- .row -->
		</div><!-- .container -->
	</section>
	<!-- qualification section end -->
	<!-- skill section -->
	<section id="skill" class="skill" style="background: #fbaea8">
		<div class="container">
			<div class="row">
			
				<!-- skill block -->
				<div class="col-md-3 col-sm-6">
					<div class="skill-wrap">
						<input type="text" value="60" class="dial">
						
						<h3 class="skill-title">Ruby On Rails</h3>
						
						<ul class="fa-ul">
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Heroku</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Git</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Gems</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Database</li>
						</ul>
					</div>
				</div>
				
				<!-- skill block -->
				<div class="col-md-3 col-sm-6">
					<div class="skill-wrap">
						<input type="text" value="80" class="dial">
						
						<h3 class="skill-title">Bootstrap</h3>
						
						<ul class="fa-ul">
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Bootstrap</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Bootswatch</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Foundation</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>JQuery</li>
						</ul>
					</div>
				</div>
				
				<!-- skill block -->
				<div class="col-md-3 col-sm-6">
					<div class="skill-wrap">
						<input type="text" value="70" class="dial">
						
						<h3 class="skill-title">Html</h3>
						
						<ul class="fa-ul">
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Html 5</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Css 3</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>JavaScript</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Angularjs</li>
						</ul>
					</div>
				</div>
				
				<!-- skill block -->
				<div class="col-md-3 col-sm-6">
					<div class="skill-wrap">
						<input type="text" value="60" class="dial">
						
						<h3 class="skill-title">Database</h3>
						
						<ul class="fa-ul">
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>MySql</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Postgrasql</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i>Mongodb</li>
							<li><i class="fa-fw fa-li fa fa-angle-double-right"></i></li>
						</ul>
					</div>
				</div>
				
			</div><!-- .row -->
		</div><!-- .container -->
	</section>
	<!-- skill section end -->
	<!-- experience section -->
	<section id="exp" class="exp">
		<div class="container">

			<!-- timeline -->
			<ul class="timeline">
			
				<li class="year top">
					<span>2014 - Present</span>
				</li>

				<li class="present">
					<div class="tl-header">
						<h3 class="tl-role">Software Analyst</h3>
						<span class="tl-time">Aug 2013 - Present</span>
					</div>
				
					<p class="tl-content">Currently working at <b>Kartik Solutions Pvt. Ltd.</b> as Software Analist.<br> I am working on Sharemeister as a team member. It is site for charity where three individual group like Individual, Nonprofit and Merchant. It is like a social networking site. Front-end design on Bootstrap 3, Full Screen Navigation( jquery plugin ) , Server side language use ruby 1.9.3(RAILS 3.2.12) and Back-end design in PostgreSQL</p>
				
					<img class="tl-img" src="/assets/landing_page/thumb-3.jpg" alt="">
				</li>

				<li class="present right">
					<div class="tl-header">
						<h3 class="tl-role">Software Developer</h3>
						<h4 class="tl-company">Beryl systems Pvt. Ltd .</h4>
						<span class="tl-time">Dec 2012 - May 2013</span>
					</div>
				
					<img class="tl-img" src="/assets/landing_page/thumb-4.jpg" alt="">
				
					<p class="tl-content">Previously worked with <b>Beryl systems Pvt. Ltd.</b> as Software Developer. I had Worked On front end using Bootstrap,JavaScript and add many modules using ruby 192 and rails3.2.12.</p>
				</li>
			</ul>
		</div>
	</section>
	<!-- experience section end -->
	<!-- extra section -->	
	<section id="extra" class="extra">
		<div class="container">
		
			<!-- gallery -->
			<div class="gallery">
				<h2 class="heading">Gallery</h2>
				
				<!--<div class="gallery-control">
					<ul class="list-inline list-unstyled">
						<li class="filter active" data-filter="all"><span>All</span></li>
						<li>|</li>
						<li class="filter" data-filter="cat-1"><span>Web</span></li>
						<li >|</li>
						<li class="filter" data-filter="cat-2"><span>Design</span></li>
						<li>|</li>
						<li class="filter" data-filter="cat-3"><span>Flash</span></li>
					</ul>
				</div>-->
				
				<div id="grid" class="row gallery-inner">
					<div class="col-md-4 col-sm-6 mix mix_all cat-1">
						<div class="gallery-frame">
							<a class="image-link" href="/assets/landing_page/gal-img-1.jpg"><img src="/assets/landing_page/gal-img-1.jpg" alt=""></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 mix mix_all cat-2">
						<div class="gallery-frame">
							<a class="image-link" href="/assets/landing_page/gal-img-2.jpg"><img src="/assets/landing_page/gal-img-2.jpg" alt=""></a>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- gallery end -->
		</div><!-- .container -->
	</section>
	<!-- extra section end -->
	<!-- contact section -->
	<section id="contact" class="contact" style="background-color:#b8f5d2">
		<div class="container">
			<div class="row">
			
				<!-- contact detail and social media -->
				<div class="col-md-4 col-sm-4 contact-inner">
					<address class="contact-wrap">
						Noida Sec-12<br>
						U.P( NCR )<br>
					</address>
					
					<div class="contact-wrap">
						<span>Email: <a href="mailto:#">rox.shahid@gmail.com</a></span>
						<span>Phone: +91 (82) 8530 9796</span>
					</div>
					
					<ul class="list-unstyled list-inline social">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						
					</ul>
				</div>
				
				<!-- contact form -->			
				<!--<form id="contact-form" class="col-md-8 col-sm-8 contact-form" action="includes/mail.php" method="post" data-parsley-namespace="data-parsley-">-->
				<%= form_tag ('/wilcome/send_mail'), :id=>"contact-form", :class=>"col-md-8 col-sm-8 contact-form" do %>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="name" class="sr-only"></label>
								<input id="name" name="name" class="form-control required" placeholder="Name" type="text" data-parsley-trigger="change">
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label for="email" class="sr-only"></label>
								<input id="email" name="email" class="form-control required" placeholder="Email" data-parsley-type="email" data-parsley-trigger="change">
							</div>
						</div>
					</div>

					<div class="form-group">
						<textarea name="message" class="form-control required" rows="8" placeholder="Message" data-parsley-trigger="keyup"></textarea>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-default pull-right">Send</button>
						<a href="#" class="btn btn-danger pull-right contact-reset">Reset</a>
					</div>
				<!--</form>-->
				<% end %>
				<!-- message sending statuses -->
				<div id="contact-sending-success" class="contact-notif success">Message has been successfully sent.</div>
				<div id="contact-sending-error" class="contact-notif error">There was an error in sending message. Please try again.</div>
				<div id="contact-sending" class="contact-notif">Sending message. Please wait...</div>
			</div><!-- .row -->
			
		</div><!-- container -->
		
		<!-- gmaps google map -->
		<div id="map" data-map-lat="28.5962491" data-map-lng="77.3396212" data-map-mark="Sector 12, Noida, Uttar Pradesh, India" data-map-zoom="15"></div>
	</section>
	<!-- contact section end -->