<div class="col-lg-9 col-md-8">
			
			<div class="timeline-cover">	
	<div class="cover">
		<div class="top">
			<img src="/assets/dash_demo/homedemo1.jpg" class="img-responsive">					
		</div>
		<ul class="list-unstyled">
			<li class="active"><a href="index.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
			<li><a href="about_1.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
			<li><a href="media_1.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-fw icon-photo-camera"></i> <span>Photos</span> <small>(102)</small></a></li>
			<li><a href="contacts_1.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-fw icon-group"></i><span> Friends </span><small>(19)</small></a></li>
			<li><a href="messages.html?lang=en&amp;v=v1.0.1-rc4"><i class="fa fa-fw icon-envelope-fill-1"></i> <span>Messages</span> <small>(2 new)</small></a></li>
		</ul>
	</div>
	<div class="widget">
		<div class="widget-body padding-none margin-none">
			<div class="innerAll">
				<i class="fa fa-quote-left text-muted pull-left fa-fw"></i> 
				<p class="lead margin-none">What a fun Partyyy</p>
			</div>
		</div>
	</div>
</div>



			<div class="gridalicious-row gridalicious" data-toggle="gridalicious" data-gridalicious-width="340" data-gridalicious-gutter="12" data-gridalicious-selector=".gridalicious-item">
				
				<div class="loaded">
					<!-- Widget -->
					
					<!-- //End Widget -->
					<!-- Widget -->
					
					<!-- //End Widget -->
					<!-- Widget -->
					
					<!-- //End Widget -->
					
					<!-- Widget -->
					
					<!-- //End Widget -->
					<!-- Widget -->
						
					<!-- //End Widget -->	
					<!-- Widget -->
					
					<!-- //End Widget -->
					<!-- Widget -->
					
					<!-- //End Widget -->
					<!-- Widget -->
					
					<!-- //End Widget -->
					<!-- Widget -->
					
					<!-- //End Widget -->
				</div>
			<div id="clearnacw3" style="clear: both; height: 0px; width: 0px; display: block;"></div><div class="galcolumn" id="item001c92" style="width: 49.21671018276763%; padding-left: 12px; padding-bottom: 12px; float: left; box-sizing: border-box;"><div class="widget gridalicious-item not-responsive" style="margin-bottom: 12px; zoom: 1; opacity: 1;">

						<div class="media">
							<a href="" class="pull-left"><img src="/assets/dash_demo/demo1.jpg" width="50" class="media-object" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
							<div class="media-body innerTB half">
								<a href="#" class="pull-right innerT innerR text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
								<a href="" class="strong display-block">Just Mary</a>
								<span>on 15th January, 2014</span>
							</div>
						</div>
					
						<!-- Content -->
						<a href=""><img src="/assets/dash_demo/homedemo1.jpg" alt="" class="img-responsive" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>

						<!-- Comment -->
						<div class="bg-primary innerAll text-small ">
							<span>View all <a href="" class="strong text-white">1 Comment</a></span>
						</div>
						
						<!-- First Comment -->
						<div class="media margin-none">
							<a href="" class="pull-left innerAll"><img src="/assets/dash_demo/demo1.jpg" width="50" class="media-object" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
							<div class="media-body innerTB">
								<a href="#" class="pull-right innerT innerR text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
								<a href="" class="strong text-inverse">Adrian Demian</a>
								<small class="text-muted display-block ">on Jan 15th, 2014</small>
								<div>- Happy B-Day!</div>
								<a href="" class="text-small">mark it</a>
							</div>
						</div>
						
						<div class="input-group comment">
							<input type="text" class="form-control" placeholder="Your comment here...">
							<div class="input-group-btn">
								<button type="button" class="btn btn-primary" href="#"><i class="fa fa-comment"></i></button>
							</div>
						</div>
					</div></div>

<!-------------------------------------------------------------------------------------------------------->
					<div class="galcolumn" id="item101c92" style="width: 49.21671018276763%; padding-left: 12px; padding-bottom: 12px; float: left; box-sizing: border-box;"><div class="widget gridalicious-item not-responsive" style="margin-bottom: 12px; zoom: 1; opacity: 1;">

						<!-- Info -->
						<div class="bg-primary">
							<div class="media">
								<a href="" class="pull-left"><img src="/assets/dash_demo/demo1.jpg" width="50" class="media-object" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
								<div class="media-body innerTB half">
									<a href="#" class="pull-right innerT innerR text-white">
										<i class="icon-reply-all-fill fa fa-2x "></i>
									</a>
									<a href="" class="text-white strong display-block">Joanne Smith</a>
									<span><a href="" class="text-white strong">Checked in</a> on 15th January, 2014 <i class="icon-time-clock"></i></span>
								</div>
							</div>
						</div>

						<!-- Content -->
						<div class="innerAll">
							<div class="row">
								<div class="col-md-6">
									<div class="map_canvas" id="google-map-json" style="height: 180px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0px);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; -webkit-transform-origin: 0px 0px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0);"><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 200;"><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 201;"><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"></div></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 202;"><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -174px; top: -166px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -174px; top: 90px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 82px; top: -166px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 82px; top: 90px;"></div></div></div></div><div style="position: absolute; z-index: 0; left: 0px; top: 0px;"><div style="overflow: hidden;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -174px; top: 90px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt1.googleapis.com/vt?lyrs=m@258000000&amp;src=apiv3&amp;hl=en-US&amp;x=15&amp;y=16&amp;z=5&amp;style=47,37%7Csmartmaps" draggable="false" style="width: auto; height: auto; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px auto; -webkit-transform: translateZ(0px); display: block;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 82px; top: 90px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt0.googleapis.com/vt?lyrs=m@258000000&amp;src=apiv3&amp;hl=en-US&amp;x=16&amp;y=16&amp;z=5&amp;style=47,37%7Csmartmaps" draggable="false" style="width: auto; height: auto; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px auto; -webkit-transform: translateZ(0px); display: block;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -174px; top: -166px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt1.googleapis.com/vt?lyrs=m@258000000&amp;src=apiv3&amp;hl=en-US&amp;x=15&amp;y=15&amp;z=5&amp;style=47,37%7Csmartmaps" draggable="false" style="width: auto; height: auto; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px auto; -webkit-transform: translateZ(0px); display: block;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 82px; top: -166px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt0.googleapis.com/vt?lyrs=m@258000000&amp;src=apiv3&amp;hl=en-US&amp;x=16&amp;y=15&amp;z=5&amp;style=47,37%7Csmartmaps" draggable="false" style="width: auto; height: auto; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px auto; -webkit-transform: translateZ(0px); display: block;"></div></div></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="http://maps.google.com/maps?ll=0,0&amp;z=5&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 62px; height: 26px; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: auto; height: auto; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px auto; display: block;"></div></a></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 70px; bottom: 0px; width: 58px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer;">Map Data</a><span style="display: none;">Map data ©2014 Google</span></div></div></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 110px; height: 138px; position: absolute; left: 5px; top: 5px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2014 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: auto; height: auto; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px auto; display: block;"></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2014 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; position: absolute; -webkit-user-select: none; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a href="http://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; display: none;"><a target="_new" title="Report errors in the road map or imagery to Google" href="http://maps.google.com/maps?ll=0,0&amp;z=5&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3&amp;skstate=action:mps_dialog$apiref:1&amp;output=classic" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint" draggable="false" controlwidth="20" controlheight="44" style="margin: 5px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px;"><div class="gmnoprint" controlwidth="0" controlheight="0" style="opacity: 0.6; display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 22px; height: 22px; overflow: hidden; position: absolute; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -38px; top: -360px; width: auto; height: auto; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px auto; display: block;"></div></div><div class="gmnoprint" controlwidth="20" controlheight="39" style="position: absolute; left: 0px; top: 5px;"><div style="width: 20px; height: 39px; overflow: hidden; position: absolute;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -39px; top: -401px; width: auto; height: auto; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px auto; display: block;"></div><div title="Zoom in" style="position: absolute; left: 0px; top: 2px; width: 20px; height: 17px; cursor: pointer;"></div><div title="Zoom out" style="position: absolute; left: 0px; top: 19px; width: 20px; height: 17px; cursor: pointer;"></div></div></div></div></div>
								</div>
								<div class="col-md-6">
									<div class="strong text-inverse innerB half"> Just Checked in at:</div>
									<div class="media margin-none">
										<a href="" class="pull-left ">
											<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABxklEQVRoQ+2XzauCUBDFR0Kh2rjoaxtubSlK/36rWkS7aB2BK90JQfreuxdGzNft2tSAxLjKbA5zzm/uSE6WZT/wBZcjRnpGUYj0DAgIESHClICMFlOwZFkhQo6OqVCIMAVLlhUi5OiYCoUIU7BkWSFCjo6psBOR8/kMp9PproUwDGGxWMDfX2U4HA5QVZV+jt/b+v20Zicj+/0e8jyH9XoNw+Gw7vF2u8Fms4HRaARxHIP6XVEU+rPruk+9fFrTakQlvd1uoSzLfw1iqsvlEoIgALxXVDzP06TG47GuOx6PcLlcNLHZbEbSVBNguqxGMHVlBK9246Z7TD1JEtjtdjW5dzTJRvAMTKdTWK1Wd8mqcVMpm4w0G3Ycpx7NdzTJRtqFzSZ839dLwGRE1SoqqmY+n+sgHl2vaj7SsI4WxUh7o6mDf71ejRutixHbNrQawQOMiTYP7WQyMW6twWBQH+goijQZXBhpmmqSr2o+24RWI4oINo90mumY3iNY0x67dvOvaD7b552M2F5ufXguRvpAodmDEBEiTAnIaDEFS5YVIuTomAqFCFOwZFkhQo6OqVCIMAVLlhUi5OiYCoUIU7Bk2a8h8gtQD0aT+MYRvAAAAABJRU5ErkJggg==" data-src="holder.js/50x50" class="media-object" alt="50x50" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
										</a>
										<div class="media-body">
											<a href="#" class="strong">Hotel Transilvania</a>
											<p class="margin-none text-small">
												<i class="fa fa-star" style="color:#EB9618;"></i>
												<i class="fa fa-star" style="color:#EB9618;"></i>
												<i class="fa fa-star" style="color:#EB9618;"></i>
												<i class="fa fa-star" style="color:#EB9618;"></i>
												<i class="fa fa-star" style="color:#ccc;"></i>
											</p>
											<small class="text-muted ">342 Likes</small> 
										</div>
										<p class="margin-none innerTB half">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, doloribus eum placeat deserunt voluptatibus aperiam.</p>		
										<a href="#" class="btn btn-xs btn-inverse">View</a>
									</div>
								</div>
							</div>
						</div>
						<!-- //Content -->

						<a href="#comments-collapse" class="innerAll border-top display-block " data-toggle="collapse"><i class="innerLR fa fa-bars"></i> View all comments <span class="text-muted">2+ comments</span></a>

						<div class="collapse" id="comments-collapse">	
							<!-- First Comment -->
							<div class="media border-bottom margin-none bg-gray">
								<a href="" class="pull-left innerAll"><img src="/assets/dash_demo/demo1.jpg" width="50" class="media-object" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
								<div class="media-body innerTB">
									<a href="#" class="pull-right innerT innerR text-muted">
										<i class="icon-reply-all-fill fa fa-2x "></i>
									</a>
									<a href="" class="strong text-inverse">Adrian Demian</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a href="" class="text-small">mark it</a>
									<div>Nice place...</div>

								</div>
							</div>

							<!-- Second Comment -->
							<div class="media margin-none ">
								<a href="" class="pull-left innerAll"><img src="/assets/dash_demo/demo1.jpg" width="50" class="media-object" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
								<div class="media-body innerTB">
									<a href="#" class="pull-right innerT innerR"><i class="icon-reply-all-fill fa fa-2x text-muted "></i></a>
									<a href="" class="strong text-inverse">Jenny Adams</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a href="" class="text-small">mark it</a>
									<div>There is awesome...I was there last year</div>
								</div>
							</div>
						</div>
						<!--  Comment -->
						<div class="media border-top margin-none bg-gray">
							<a href="" class="pull-left innerAll"><img src="/assets/dash_demo/demo1.jpg" width="50" class="media-object" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
							<div class="media-body innerTB">
								<a href="#" class="pull-right innerT innerR text-muted">
									<i class="icon-reply-all-fill fa fa-2x "></i>
								</a>
								<a href="" class="strong text-inverse">Adrian Demian</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a href="" class="text-small">mark it</a>
								<div>Have a nice holiday there!</div>
							</div>
						</div>
						<div class="input-group comment">
							<input type="text" class="form-control" placeholder="Your comment here...">
							<div class="input-group-btn">
								<button type="button" class="btn btn-primary" href="#"><i class="fa fa-comment"></i></button>
							</div>
						</div>
					</div>
					




					
				</div><div id="clear01c92" style="clear: both; height: 0px; width: 0px; display: block;"></div>
<!---------------------------------------------------------------------------------------->
			</div>

		</div>

<!-------------------------------------- side bar ---------------------------------------------->
<div class="col-md-4 col-lg-3">

			<div class="widget">
				<div class="widget-body text-center">
					<a href=""><img src="/assets/dash_demo/profilepic.jpg" width="120" alt="" class="img-circle"></a>
					<h2 class="strong margin-none"><%= current_user.name %></h2>
					<div class="innerB">Working at MOSAICPRO</div>
					<a href="" class="btn btn-primary text-center btn-block">PRO Account</a>
					<div class="btn-group-vertical btn-block">
						<span class="btn btn-default">
							<i class="fa fa-cog pull-right"></i>
							<%= link_to 'Edit Account', edit_user_registration_path, :class => 'navbar-link' %>
							
						</span>
						<span class="btn btn-default">
							<i class="fa fa-cog pull-right"></i>
							<%= link_to "Logout", destroy_user_session_path,:method => :delete %>
						</span>
					</div>
				</div>
			</div>

			<div class="widget">
	<h5 class="innerAll margin-none border-bottom bg-gray">Recent News</h5>
	<div class="widget-body padding-none">
				<div class="media border-bottom innerAll margin-none">
			<img src="/assets/dash_demo/demo2.jpg" class="pull-left media-object">
			<div class="media-body">
				<a href="" class="pull-right text-muted innerT half">
					<i class="fa fa-comments"></i> 4
				</a>
				<h5 class="margin-none"><a href="" class="text-inverse">Social Admin Released</a></h5>
				<small>on February 2nd, 2014 </small> 
			</div>
		</div>
			</div>
</div>
		
		</div>
<!-------------------------------------- End sidebar ---------------------------------------------->